<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirmación</title>
</head>
<body>


    <h1>Nueva contraseña</h1>

    <form method="POST">

        {% csrf_token %}

        {{ form.new_password1.erros }}
        <label for="id_new_password1">Nueva contraseña:</label>
        {{ form.new_password1 }}

        {{ form.new_password2.erros }}
        <label for="id_new_password2">Confirmar la nueva contraseña:</label>
        {{ form.new_password2 }}

        <input type="submit" value="Cambiar">


    </form>



    
</body>
</html>